* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}

body {
	font-family: arial, Sans-serif;
	background: #FFFFFF;
	line-height: 1.8;
}

a {
  padding: 1em;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-decoration: none !important;
}

#n6 {
	margin: 5px auto;
	max-width: 550px;
	padding: 5px;
}

.b6 {
	background: white;
	padding: 15px 25px;
	border: 1px solid #ddd;
	border-radius: 6px;
	align-items: content;
}
.b6 h2 ,
.b6 p {
	text-align: center;
}

h5{
	text-align: center;
}
.b6 .btn {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 3px;
	background: #11A3F9;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	border: 0;
	font-weight: bold;
}

.help{

color: black;
font-size: 15px;

}

a{

margin-top: 0px;
margin-bottom: 0px;
}



.b6 .clie {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 3px;
	background: gold;
	cursor: pointer;
	color: black;
	border-radius: 3px;
	border: 0;
	font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.help2{
  color:red;
  font-size: 15px;
}
h2{
  color: #11A3F9;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h6{
	font-size: 15px;
}


